// Place all the styles related to the recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table {
  border-collapse: collapse;
}

td {
  padding: 12px;
}

.even {
  background-color: #D6E1C3;
}

.recipe-tile {
  position: relative;
  border: 2px solid black;
  overflow: hidden;
  width: 175px;
  height: 175px;
  margin: 0 auto 20px;
  border-radius: 20px;
}

.recipe-tile span {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  min-height: 20%;
  max-height: 35%;
  text-align: center;
  font-size: 1.2em;
  background-color: #000;
  color: #fff;
  opacity: .75;
}
