	<header>
		<div class="container">
			<%= link_to root_path do %>
				<div class="page-header text-center">
			  	<h1>GourmanDiz</h1>
				</div>	
				<div id="header-image">
				</div>
			<% end %>
		</div>	
  </header>