

<h2>Feeling Lucky</h2>
<% if @samples %>

  <table border="0">
    <% @samples.each do |recipe| %>
      <tr class=<%= cycle('even', 'odd') %>>
        <td><%= link_to image_tag(recipe["image_url"]) , 
          recipe_path(:id => recipe.id, :search => @search_term)  %></td>
        <td><%= link_to sanitize(recipe["title"]) , 
          recipe_path(:id => recipe.id, :search => @search_term) %></td>
      </tr>
    <% end %>

  </table>
<% end %>
